<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <title>Visitors</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">
                    <a class="navbar-brand" href="http://albert73.pythonanywhere.com/list">Visitor's Table</a>
                    <a class="navbar-brand" href="http://albert73.pythonanywhere.com/home">Check my Website</a>
            </div>
        </nav>

        <div class="container">
            <form action="." method="POST">

                <div class="form-group">
                    <label name = "Name">Name:</label>
                    <input class="form-control" placeholder="Please Enter Your Name" name="contents">
                </div>

                <div class="form-group">
                    <label name = "Company">Company:</label>
                    <input class="form-control" placeholder="Please Enter Company Name" name="company">
                </div>

                <div class="form-group">
                    <label name = "Company">Email:</label>
                    <input class="form-control" placeholder="Please Enter Email Address" name="email">
                </div>

                <label for="question">Are you looking for a Data Analyst</label>
                <select class="form-control" name ="question">
                    <option>yes</option>
                    <option>no</option>

                </select>

                <br>

                <input type="submit" class="btn btn-success" value = "Add to database">



            </form>

        </div>



    </body>
</html>




<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
