<div class="container">
  <div class="row">
    <div class="col">

      <h1> Bine ai venit {{user}}!</h1>
      <button onclick="window.location = 'http://albert73.pythonanywhere.com/dropsession'" type="submit" class="btn btn-info">Iesire</button>
      <hr>

      <form action="/protected" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Adaugare produs</label>
          <p></p>
          <div class="custom-file">

            <input type="file" class="custom-file-input" name="image" id="image"><br>
            <select class="form-control" name ="categorie">
                <option>Inele</option>
                <option>Bratari</option>
            </select><br>
            <input type="text" class="form-control" placeholder="nume" id="nume" name="nume"><br>
            <input type="text" class="form-control" placeholder="gramaj" id="gramaj" name="gramaj"><br>
            <input type="text" class="form-control" placeholder="pret" id="pret" name="pret"><br>
            <input type="text" class="form-control" placeholder="redus" id="redus" name="redus"><br>


            <button type="submit" class="btn btn-primary">Trimite</button>

          </div>
        </div>

      </form>

    </div>
  </div>
</div>